[2017-02-02 20:45] fbfree opened #1 "Compile Error - anonymous types in headers"
While attempting a fresh install of NJOY21, compile errors during make, shown below occurred while processing main.cpp.o.

Compilation was attempted on a Debian stretch distribution with gcc 6.2.1, gfortran 6.2.1, cmake 3.7.1, python 3.5.2+, and git 2.11.0.

[code]

[2017-02-02 22:25] jlconlin commented on #1
Thanks for trying this out. Unfortunately, NJOY21 is not quite ready for public consumption. I understand my build instructions defaulted to pointing to NJOY21 instead of NJOY2016. I am working on getting that updated.

[2017-02-02 22:25] #1 closed

[2017-02-12 22:56] kernie opened #3 "Error stop with commented module call"
Hi there,

when calling a module and having something like this:

moder / CALL MODER TO CONVERT ASCII  - BINARY

NJOY21 will stop with:

[error] Unrecognized routine label on line 1
[info] Requested routine: MODER / ALL MODER TO CONVERT ASCII  - BINARY
[info] Error while running NJOY21

Earlier versions didn't have problems ...

Best regards,
Maarten

[2017-02-16 16:32] apmccartney commented on #3
Good catch. I'll create an issue to address this.

[2017-02-16 16:50] apmccartney commented on #3
I apologie for the delay and thank you for the reproducible example and reference output.

[2017-02-16 17:35] apmccartney commented on #1
@fbfree I believe this issue has been resolved. Feel free to comment if you feel this issue requires further action.

[2017-02-16 19:19] fbfree commented on #1
It is resolved.

Thank you,

- Alan Robinson

On Thu, Feb 16, 2017 at 09:35:23AM -0800, Austin McCartney wrote:

[2017-02-16 23:46] apmccartney commented on #3
The correction has been merged into master. Thank you again for your feedback.

[2017-02-16 23:46] #3 closed

[2017-03-07 21:16] apmccartney opened #5 "MODER input verification"
Verify ascending material numbers in aggregation mode

[2017-03-07 22:22] apmccartney opened #6 "Allow commas to delimit input values"
e.g. `1 2 3` vs `1,2,3`

[2017-03-07 22:26] apmccartney opened #7 "RECONR input verification"
RECONR materials ought to be specified in ascending order. If RECONR materials are specified out of order, they will appear out of order in the resulting tape and cause issue in downstream processing

[2017-03-08 15:37] apmccartney opened #8 "BROADR input verification"
Verify the materials are specified in ascending order.

The order specified is the order in which the materials appear in the output file. ENDF requires that materials appear in a tape ordered from least to greatest.

[2017-03-13 17:47] jlconlin opened #9 "Fix issue with Card.test.cpp"
`Card::extract` was removed a while back. It's currently commented out. Let's fix this up.

[2017-04-03 18:24] jlconlin opened #11 "Add std::optional reader for std::string"
Here is the compiler error:

[code]

[2017-06-16 17:17] jlconlin opened #13 "VIEWR input checking"

[2017-06-16 17:17] jlconlin opened #14 "GROUPR input checking"

[2017-06-16 17:17] jlconlin opened #15 "ACER input checking"

[2017-06-16 17:18] #11 closed

[2017-06-16 17:23] jlconlin opened #16 "LEAPR input checking"

[2017-06-16 17:23] jlconlin opened #17 "MIXR input checking"

[2017-06-16 17:23] jlconlin opened #18 "PLOTR input checking"

[2017-06-16 17:24] jlconlin opened #19 "WIMSR input checking"

[2017-06-16 17:24] jlconlin opened #20 "POWR input checking"

[2017-06-16 17:24] jlconlin opened #21 "RESXSR input checking"

[2017-06-16 17:24] jlconlin opened #22 "MATXSR input checking"

[2017-06-16 17:24] jlconlin opened #23 "CCCCR input checking"

[2017-06-16 17:24] jlconlin opened #24 "DTFR input checking"

[2017-06-16 17:24] jlconlin opened #25 "COVR input checking"

[2017-06-16 17:24] jlconlin opened #26 "ERRORR input checking"

[2017-06-16 17:24] jlconlin opened #27 "GAMINR input checking"

[2017-06-16 17:24] jlconlin opened #28 "THERMR input checking"

[2017-06-16 17:29] jlconlin opened #29 "HEATR input checking"

[2017-07-03 20:35] jlconlin commented on #26
Note that we are not supporting anything less than ENDF/B-VII.0 and the ENDF format that it used. So any feature that relies on this does not have to be checked. In fact, an exception should be thrown if discovered. Also, we are only backwards compatible with NJOY2016—not NJOY99.

This means that we only have to check cards 1–3. It also means that card 3 is *required*.

[2017-07-12 02:18] #14 closed

[2017-07-12 02:19] #24 closed

[2017-07-12 02:20] #13 closed

[2017-07-12 02:20] #15 closed

[2017-07-27 20:37] #29 closed

[2017-07-27 20:38] #28 closed

[2017-08-02 14:04] apmccartney opened #42 "PURR::Card3::Temp allows zero-values"

[2017-08-14 21:59] jlconlin commented on #17
What is the status on this? Did it ever get done?

[2017-08-15 16:29] apmccartney commented on #17
No complete, but the central issue was solved

[2017-08-15 16:29] apmccartney commented on #17
Lower priority than SLBW+MLBW+RM

[2017-08-15 23:20] AmeliaJo opened #45 "RECONR::Card1::Nendf incorrect name"

[2017-08-26 04:51] #45 closed

[2017-08-30 03:16] ameliajo opened #47 "HEATR::Card1::Nout::Nout.test.cpp references THERMR not HEATR"

[2017-08-30 11:48] apmccartney commented on #47
Good catch. On it.

[2017-08-30 11:49] apmccartney commented on #47
Whoops. Looks like you've started already.

[2017-08-30 13:53] jlconlin commented on #47
I was wondering how long @AmeliaJo could stay away from the NJOY life.

[2017-10-02 21:15] jlconlin opened #51 "Get testing running on AWS"

[2017-11-21 15:34] #27 closed

[2017-11-21 15:34] #18 closed

[2018-02-20 20:22] #5 closed

[2018-02-20 20:22] #17 closed

[2018-02-20 20:22] #19 closed

[2018-02-20 20:22] #20 closed

[2018-02-20 20:22] #21 closed

[2018-02-20 20:22] #22 closed

[2018-02-20 20:22] #23 closed

[2018-02-20 20:22] #25 closed

[2018-08-10 13:32] #26 closed

[2018-08-10 13:32] #7 closed

[2018-08-10 13:32] #8 closed

[2018-08-10 13:33] #16 closed

[2018-08-10 13:33] #51 closed

[2018-08-10 13:34] jlconlin opened #70 "Allow double quotes to delimit strings"
NJOY2016 allows double quotes to delimit strings. Let's allow NJOY21 to do the same.

[2018-08-10 15:27] jlconlin opened #72 "Split output to screen and to file"
With NJOY2016, some (limited) information was printed to the screen and some was printed to the `output` file. By default, everything is printed to the screen. With NJOY21 one can (optionally) specify `-o outputfile` which prints everything to the specified `outputfile` and nothing (but logging errors) gets printed to the screen.

A little information needs to be written to the screen so that the

[2018-08-11 02:00] apmccartney commented on #72
Too vague to act on. What do you want sent where?

[2018-08-13 14:02] jlconlin commented on #72
NJOY2016 would print a line at the beginning of every module call. In addition, warnings, messages, and errors would also be printed. For example, here is the output from `Test01` when run with NJOY2016:

[code]

It's not a lot of information, but enough information to know that the calculation is proceeding. The messages that are printed are those that are most important for the user to know.

If

[2018-08-13 21:14] jlconlin commented on #70
Fixed by #71

[2018-08-13 21:14] #70 closed

[2018-08-13 21:18] jlconlin opened #73 "Unrecognized routine label from GROUPR"
The following input file causes the error:
[code]

This goes through NJOY2016 (although that's no guarantee that it is working as expected.)
[code]

[2018-08-13 22:06] jlconlin commented on #73
NJOY21 only looks for one set of `Card9`s and one set of `Card10`s, when it should look for several sets of of `Card9`/`Card10`.

[2018-08-16 12:29] kahlerac commented on #73
This input looks fine to me.  You've got one temperature, per the sixth item on card 2 (and confirmed with only one entry on card 4).  Card 9 (#1.1) says to process all file 3 xs's for material 125 at the one and only temperature.  Card 9 (#1.2) says we're done with material 125.  Card 10 is either zero to signify the end of groupr input or the next material to process.  With a non-zero card 10 #2

[2018-08-16 15:00] jlconlin commented on #73
Thanks @kahlerac for that review. I looked at this at the end of last week and realized that the input parser was not interpreting things correctly. It did not know that’s one could have sets of cards 9 and 10, but assumed, instead, that all card 9s came, the. All card 10s came.

I think I have a fix already implemented; I just have to update the tests to reflect the changes.

[2018-08-16 18:32] kahlerac commented on #73
Hi Jeremy,
   Actually there can be multiple sets of card 9s before reading a card 10
... when processing multiple temperatures.  See the input for legacy test
problem 2.
Skip

On Thu, Aug 16, 2018 at 11:01 AM, Jeremy Lloyd Conlin <
notifications@github.com> wrote:

--
Dr. A. C. (Skip) Kahler
Kahler Nuclear Data Services, LLC
kahler3ac@gmail.com
+1 321 368 3645

[2018-09-04 08:34] #9 closed

[2018-09-04 08:39] jlconlin opened #76 "Need to have way of reporting version of NJOY"
Some will need to know exactly what version of NJOY21 is being used. This could be accomplished with a `--version` option on the command line. This should return a traditional version number (e.g., 1.2.7) as well as the output of the "signature". This signature needs to be generated when configured and added to the code that is compiled.

The version number could be advanced as follows:

- Major n

[2018-09-04 09:26] jlconlin commented on #73
This was fixed in #74

[2018-09-04 09:29] #73 closed

[2018-09-04 10:06] jlconlin commented on #6
This was moved to the [lipservice](https://github.com/njoy/lipservice) repository

[2018-09-04 10:06] #6 closed

[2018-09-04 11:49] jlconlin commented on #47
Moved to [lipservice](https://github.com/njoy/lipservice/issues/3).

[2018-09-04 11:49] #47 closed

[2018-09-04 11:50] jlconlin commented on #42
Moved issue to [lipservice](https://github.com/njoy/lipservice/issues/2)

[2018-09-04 11:50] #42 closed

[2018-10-25 17:14] jlconlin opened #81 "Memory Leak in Some Tests"
Clang sanitizers report small (280 bytes) memory leaks in:

- njoy21.io.Manager.test
- njoy21.Driver.test

These have been around since the `io::Manager` and `Driver` have existed (January 22, 2017). We haven't noticed this because testing of NJOY21 has been limited in the past.

[2018-10-25 17:37] jlconlin commented on #76
Resolved with #80

[2018-10-25 17:37] #76 closed

[2018-10-25 21:48] jlconlin commented on #81
This is actually a memory leak in NJOY2016 (or the gfortran library). See [issue #108](https://github.com/njoy/NJOY2016/issues/108). When it is fixed, the leak in NJOY21 should be gone.

[2018-12-21 07:37] subterfug3x opened #84 "TH232 ENDF-B/VII.0 ***error in file32***unknown isr"
Have a problem with the TH232 ENDF-B/VII.0 processing with NJOY21 (and NJOY2016)

https://www-nds.iaea.org/public/download-endf/ENDF-B-VII.0/n/

Error message
[code]

[input-th232.txt](https://github.com/njoy/NJOY21/files/2701958/input-th232.txt)

[2018-12-21 11:09] whaeck commented on #84
Hi,

This is related to an issue in the ENDF file for ENDF/B-VII.0 Th232. In the MF32/MT152 part of this file, the line giving the LRU/LRF flag and the following line giving LCOMP look like this:
[code]
On this second line, the fifth and sixth entry are non zero while the ENDF manual indicates that these should be zero. I think that we have encountered this in the past as well because this looks f

[2018-12-21 14:33] subterfug3x commented on #84
Hi,

I corrected it on line 153936, but there is the same problem anyway. Is this line the only one with wrong value?

Thanks

[2018-12-21 14:39] kahlerac commented on #84
Hi Igor:
   Here is the original, wrong, line:
 0.000000+0 9.686000-1          1          2          1
2904032151    4

   Here is what it should be:
 0.000000+0 9.686000-1          1          2          1
0904032151    4

   This is a long known ENDF/B-VII.0 issue for this evaluation and NJOY
should run correctly with this correction.
Skip

On Fri, Dec 21, 2018 at 9:33 AM Igor Lutsik <notificatio

[2018-12-21 14:45] subterfug3x commented on #84
Hello! Thank you, now it works fine 👍

[2018-12-21 21:33] #84 closed

[2019-05-17 09:49] nasim-arcturus opened #85 "Installation and run"
Done every step mentioned "Obtaining and Installing NJOY" page. All test passed.
While using command like `njoy21 --version` or any njoy21 command, getting following errors:

`njoy21: error while loading shared libraries: libnjoy_c_bindings.so: cannot open shared object file: No such file or directory`

[2019-05-17 16:49] #85 closed

[2019-05-19 11:09] WenyinWei opened #86 "Trouble when doing cmake in Windows"
Hello guys,

Nice to see Los Alamos National Laboratory's excellent work on helping people with their data. I met some troubles when installing NJOY, any volunteer willing to help?

[code]

I can almost make sure that the problem was caused by such lines in CMakelists of subprojects:

[code]
, I guess the problem only exists for Windows because Linux handle Git commands very naturally.

Thanks in

[2019-05-20 16:32] jlconlin commented on #86
@WenyinWei Can you give me more information about the process you went through to get these errors? We've built NJOY21 on Windows and haven't seen this before. Keep in mind that we only support installing/building NJOY21 (or NJOY2016) using Windows Subsystem for Linux.

[2019-05-20 18:10] WenyinWei commented on #86
@jlconlin Thank you jlconlin, I didn't compile it on Windows Subsystem but by MinGW. It seems that the compatibility problem would deadly limit its usage on Windows platform while embedding parts of NJOY(e.g. parsing ENDF file) into a Windows software. Do you have any good suggestions to settle the problem?

Thanks,
Wenyin

[2019-05-20 18:13] jlconlin commented on #86
@WenyinWei [Windows Subsystem for Linux (WSL)](https://docs.microsoft.com/en-us/windows/wsl/about) is available for every Windows 10 machine for free and works well. We would like to make this native on Windows, but don't currently have the resources. For now WSL seems to be the way to go.

[2019-05-20 18:29] WenyinWei commented on #86
Could any part of NJOY works as a third party header in windows app? This is good enough but relies on mature modulization organization.

[2019-05-20 20:04] kahlerac commented on #86
All,
   An executable created under WSL can be run in Windows ... see
https://docs.microsoft.com/en-us/windows/wsl/interop
Skip Kahler

On Mon, May 20, 2019 at 2:31 PM Jeremy Lloyd Conlin <
notifications@github.com> wrote:

--
Dr. A. C. (Skip) Kahler
Kahler Nuclear Data Services, LLC
kahler3ac@gmail.com
+1 321 368 3645

[2019-05-21 02:14] paulromano commented on #86
@WenyinWei If you are looking for something for working with ENDF/ACE files, you may want to look at others projects too. OpenMC has a [data module](https://openmc.readthedocs.io/en/latest/examples/nuclear-data.html) that can give you access to data within ENDF files through Python classes. [Fudge](https://github.com/paulromano/fudge) also has similar functionality. Both of those are written prima

[2019-05-21 04:23] WenyinWei commented on #86
Thanks for all of your warm reply. I would try some of these tools someday and report the best choice.

[2019-05-22 23:18] apmccartney commented on #86
NJOY21 defers ENDF processing to a independent software library called [ENDFtk](https://github.com/njoy/ENDFtk.git), which can be embedded into other applications.

[2019-05-22 23:25] apmccartney commented on #86
Regarding the error you encountered can you tell us a bit more about the environment your working in and walk through the steps you took to clone and build NJOY21?

[2019-06-26 15:17] brown170 opened #88 "Build issue on macOS"
I could not get NJOY21 to build without adding the "-Wno-maybe-uninitialized" flag to the set of common Darwin build flags.  This is what my line 132 of CMakeList.txt looks like:

set( njoy21_GNU_Darwin_common_flags "-Wall" "-Wextra" "-Wpedantic" "-Wno-maybe-uninitialized" "-std=c++14" )

This same flag is used by default for Linux builds.

[2019-06-27 14:25] kernie opened #89 "cmake error with "subprojects/hopscotch-map-adapter""
Hi,

I did a

[code]

in the bin dir of a NJOY21 clone of master aswell tagged 1.0.1 branch.

Several error messages appear
[code]

Help appreciated...

Thanks,
Maarten

System:
opensuse leap 15.1
compiler gcc-suite 8.2.1

[2019-06-27 14:26] jlconlin commented on #88
What compiler versions did you use?

[2019-06-27 14:28] jlconlin commented on #89
@kernie The command you used is intended for those times when you don't have access to the internet from where you are trying to run NJOY. (Or if you are *very* interested in a specific version of NJOY.)

Try this instead:
[code]

[2019-06-27 14:40] kernie commented on #89
OK,

just saw the
[code]
command and using this instead of doing simply
[code]
leads now to a successful end.

However, I see this
[code]
Testing now compilation.

Thank you for your help!
Maarten

[2019-06-27 14:52] kernie commented on #89
Successful build...

[2019-06-27 14:52] #89 closed

[2019-06-27 14:54] brown170 commented on #88
gcc (MacPorts gcc8 8.3.0_4) 8.3.0

The command line switch "-Wno-maybe-uninitialized" is identical to that on Linux.

[2019-06-27 14:58] jlconlin commented on #88
We build regularly on Mac with gcc, but we don't use MacPorts. It seems unlikely that MacPorts is the issue. Will have to do some additional checking.

[2019-06-27 14:59] jlconlin commented on #89
Glad things are working for you.

[2019-06-27 20:29] harterj opened #90 "Build error on macOS"
Hello,

I'm trying to build NJOY21 on MacOS Mojave. I successfully built and ran tests with NJOY2016, but I'm interested in this version. My compilers:

`$CC -> /opt/moose/mpich-3.3/clang-8.0.0/bin/mpicc`
`$CXX -> /opt/moose/mpich-3.3/clang-8.0.0/bin/mpicxx`
`$FC-> /opt/moose/mpich-3.3/clang-8.0.0/bin/mpif90`

Python version is 2.7.16. I realize this isn't up to the standard, but I assumed since I

[2019-06-28 06:53] jlconlin commented on #90
@harterj Right now, we only support building with clang version 3.8. That is the problem. If you have gcc 6.4 or higher it should work (although we find the clang compiler to produce a better compiled binary.) There are many options for installing compilers including homebrew and spack, which we have used here at LANL.

Try a different compiler an let us know how well it works.

[2019-06-28 07:16] brown170 commented on #88
Might be useful to add a discussion of supported compilers on the NJOY21 website...

[2019-06-28 07:28] jlconlin commented on #88
We do state what minimum compilers are required, but often state something like "clang 3.7+". Perhaps using the "+" is not precise enough. The documentation could certainly be improved.

[2019-06-28 16:57] harterj commented on #90
@jlconlin I'll do that, thank you!

[2019-07-02 06:44] jlconlin commented on #90
@harterj Have you had any success with a different compiler?

[2019-07-02 06:48] #86 closed

[2019-07-02 16:01] harterj commented on #90
@jlconlin I was just trying this out again this morning, but still having trouble. I switch to GCC 8.3, removed extraneous pathing I had for MOOSE in an effort to single this out. This screenshot should help a bit, I hope:
![Screen Shot 2019-07-02 at 9 56 51 AM](https://user-images.githubusercontent.com/6990710/60527633-d8155f80-9caf-11e9-82bf-45ca2e42bbff.png)

I've followed the directions up to

[2019-07-03 07:17] jlconlin commented on #90
@harterj I noticed this as well when I tried to build NJOY21 recently. This is definitely an issue that we are going to have to figure out.

In the meantime, are you able to build by using one of our signature files?

[2019-07-03 14:38] harterj commented on #90
@jlconlin I'll play around with it a little today. Do you mean to just use a previous signature file, located at https://github.com/njoy/signatures ? And do I only need the NJOY21 signature?

If I can't get NJOY21 to build, I can definitely use NJOY2016, I just wanted to use and read the C++ version 🦑

[2019-07-08 07:49] ATM-Jahid opened #91 "Building problem on Linux"
After I execute the command "./metaconfigure/fetch_subprojects.py ../1.0.1-NJOY21.json" in the NJOY21 directory, the process gets stuck at "Fetching njoy...".

If I quit the process and re-execute it again, the following problem arises:
"""
fatal: Needed a single revision
Unable to find current revision in submodule path 'njoy'
Checking out revision 9e3f11b4d29102567d417fc78e664823d2ef862f...

err

[2019-07-15 20:18] jlconlin commented on #91
@ATM-Jahid Can you tell me what versions of git, python, and cmake you are using?

[2019-07-17 03:23] ATM-Jahid commented on #91
I am using the following versions.
git version 2.22.0
python version 3.7.3
cmake version 3.14.5

[2019-07-17 11:41] apmccartney commented on #91
Hello @ATM-Jahid

NJOY21 expresses its dependencies through git submodules. When the submodule initialization fails, git has the nasty habit of deleting the directory corresponding to the submodule from the parent repository. I suspect that when you quit while running `fetch_dependencies.py` that is what happened. In this case, NJOY is a dependency of the `njoy_c_bindings` library. You can confirm

[2019-07-17 20:17] ATM-Jahid commented on #91
I followed your procedure. Now, it worked. But, I am very much at dark about the cause of this issue.

Anyway, when I ran "make", I got the following warning messages. Please, let me know if they can be ignored.
"""
"""
/home/atomsky/Programs/NJOY21/subprojects/njoy/src/broadr.f90:1405:11:

 1405 |      em.gt.sigfig(es(is-1),ndig,-1)) go to 150
      |           1
Warning: Impure function ‘sigfig’

[2019-07-17 23:47] apmccartney commented on #91
[code]

This warning is expected.

I've not encountered the function elimination warning, but knowing the use of the function in question, `sigfig`, given the tests passed, I am confident the code is working as expected.

[2019-07-18 03:21] ATM-Jahid commented on #91
:(
I don't see any program after installation. Am I doing something wrong?
There is no command like "njoy", "njoy21" in my shell. Simple things, such as "njoy21 --version", "njoy21 --signature" also does not work. The shell says "command not found".

[2019-07-18 11:47] apmccartney commented on #91
It appears that NJOY21 was not installed to a directory in your `PATH`.

To clarify, you have run `make install`, correct? If not, that is the next step for you to do.

Otherwise, in your highest-level build tree directory, there is a file called `CMakeCache.txt`. This file contains information about (among many things) the destination for installation. Please attach that file to the next comment.

[2019-07-20 13:37] ATM-Jahid commented on #91
No, I did not run `make install` at first. I only followed what's written on [http://www.njoy21.io/Build/index.html](url).
After you posted the above comment, I ran `make install` in the bin directory of NJOY21. I get the following error.
"""
"""
CMake Error at CMakeLists.txt:255 (add_subdirectory):
  The source directory

    /home/atomsky/Programs/NJOY21/subprojects/njoy

  does not contain a CM

[2019-07-20 16:18] ATM-Jahid commented on #91
I re-did the entire process again. This time, after I ran `make install`, the following error appears.
"""
"""
~/Programs/NJOY21/bin  ‹master*› $ make install                                                                                     2 ↵
[ 57%] Built target njoy
[ 61%] Built target njoy_c_bindings
[ 82%] Built target utility
[ 85%] Built target njoy21
[ 88%] Built target njoy21_executable

[2019-07-20 16:23] apmccartney commented on #91
You very likely to not have write permissions for the `/usr/local` directory with your user account.

We can do one of two things:
+ install as the system administrator
+ install to another location

If you're working on your own personal computer, the former is probably fine. You can install as an administrator using

[code]

[2019-07-20 20:10] ATM-Jahid commented on #91
I hope I'm not being burdensome. :(
I've rerun the `make`, `make test` and `make install` commands using root privilege. (that is, using sudo)
The installation seems fine. But, if I try to use any command using "njoy21", the following error appears.
"""
"""
njoy21: error while loading shared libraries: libnjoy21.so: cannot open shared object file: No such file or directory
"""
"""

[2019-07-20 20:44] apmccartney commented on #91
In the output of `make install` it should have some output regarding where `libnjoy21.so` was installed. Could you post the output of that command?

What do you see when you run
[code]

[2019-07-22 11:00] ATM-Jahid commented on #91
The output for `ls /usr/local/lib/*njoy*` is
`/usr/local/lib/libnjoy21.so  /usr/local/lib/libnjoy.so`

[2019-07-22 12:43] ATM-Jahid commented on #91
I think I broke my system! I was trying to remove the package and reinstall it.
First, pacman couldn't find this njoy21 package. So, I manually removed it from usr/local/bin/.
Then, I tried to redo the process. However, another problem arose. I ran `cmake -D fetched_subprojects=true -D CMAKE_BUILD_TYPE=release ../`. The shell returned the following error.

"""
"""
-- Found Git: /usr/bin/git (found

[2019-07-22 15:25] apmccartney commented on #91
Oof

Okay, so pacman (like apt, yum, or dnf) is a package manager. They will not be aware of software you've installed manually.

From the output you posted, it appears the permissions on one or more files in `/usr/local/include` have been set without read permissions. Have you attempted to install a C or C++ compiler since my last message?

The issue with permissions can be confirmed by running

[2019-08-27 15:05] jlconlin opened #94 "njoy_sync_error"
With the latest Pull Request (#93) there is an error about njoy_sync_error not being declared.

[2019-09-03 15:34] harterj commented on #90
@jlconlin I will give this a shot this week, thank you! I was on travel.

[2019-09-19 11:39] #91 closed

[2019-09-19 11:49] ATM-Jahid opened #96 "Building problem on Linux"
After executing `make` in the `NJOY21/bin` directory, the building process gets stuck at 84%. My system crashes at this point. The last thing that the shell shows is the following.

`[ 84%] Building CXX object CMakeFiles/njoy21.dir/src/main.cpp.o`

[2019-09-19 14:33] jlconlin commented on #96
When you say it gets "stuck", what do you mean? How long is it stuck? Does it make the `njoy21` binary?

[2019-09-19 16:15] jlconlin commented on #94
This was resolved in #95

[2019-09-19 16:15] #94 closed

[2019-09-19 16:16] jlconlin commented on #90
Any news on this?

[2019-09-19 19:49] harterj commented on #90
Sorry on the delay with this @jlconlin -- I've been busy prepping for some things..still getting an error
![Screen Shot 2019-09-19 at 1 47 07 PM](https://user-images.githubusercontent.com/6990710/65275969-0c94fc80-dae4-11e9-9af6-098a68986da3.png)

This is using the recent signature `1.0.5-NJOY21.json`

[2019-09-19 19:49] harterj commented on #90
![Screen Shot 2019-09-19 at 1 49 30 PM](https://user-images.githubusercontent.com/6990710/65276116-541b8880-dae4-11e9-8d4e-3ae7fd1c7051.png)
Here's from `cmake`

[2019-09-19 21:40] jlconlin commented on #90
@harterj can you start over from scratch (i.e., with a freshly cloned repository)? It's likely that some underlying component is still broken. We've made a number of changes to the underlying components.

The instructions we provide online are for those who really care about the specific version of NJOY21 they are using. If you don't care and just want the latest and greatest the instructions are

[2019-09-20 15:44] harterj commented on #90
That worked! Compiled just fine followed by successful tests. Thanks so much for the help @jlconlin

[2019-09-20 15:52] jlconlin commented on #90
Glad everything is working.

[2019-09-20 15:52] #90 closed

[2019-09-24 22:49] Snomstor commented on #85
Hello! How did you solve this problem?

[2019-09-25 08:56] whaeck commented on #85
The error indicates that you probably moved the executable without the dynamic library that's associated to it.

You can also compile the code to produce a static executable, you can do this by adding some additional cmake commands:
[code]
That should avoid the issue entirely.

[2019-09-25 09:07] Snomstor commented on #85
Thanks) I'll try to use this command too. For now, I have found the next solution: I have just  copied the file libnjoy_c_bindings.so from /bin/subprojects/njoy_c_bindings to /usr/lib.

[2019-10-17 19:18] ATM-Jahid commented on #96
By stuck, I mean my system becomes unresponsive totally.
[code]
After that I have to restart it.

Right after executing `make` command, everything seems normal but after reaching that 84%, CPU usage  skyrockets (I am assuming ram usage does too) and at some point my laptop becomes unresponsive to anything. The result is the same when I run more than one job (`make -j 4`)at a time.

What is the des

[2019-10-17 20:08] jlconlin commented on #96
@ATM-Jahid If you have a slow machine, or if there isn't much memory, this could cause some problems. NJOY21 does require a fair amount of memory to compile. It would be easier on the machine if you just did one job (`make -j1`).

[2019-10-17 20:19] ATM-Jahid commented on #96
Well, I am not sure if memory is the problem. I ran `make` and `make test` on the same machine [before](https://github.com/njoy/NJOY21/issues/91#issuecomment-512552076).

[2019-10-17 20:21] jlconlin commented on #96
`make test` likely uses less memory than `make` does.

[2019-10-17 20:33] ATM-Jahid commented on #96
I remember running `make` that time. It went smoothly. I was running other programs in parallel and I didn't face this sort of problem then.

And, exactly how memory intensive is the process?

[2019-10-17 20:43] jlconlin commented on #96
I don't know exactly off the top of my head. I wouldn't be surprised if it consumed up to 4 GB.

[2019-11-04 20:03] AI-Pranto opened #98 "Installation problem"
when i run

I get following error.

What should i do now?

[2019-11-12 18:15] whaeck commented on #98
By default, NJOY21 is compiled using dynamic libraries. If you move the executable, you should move the dynamic library that is generated as well.

As an alternative, you may want to try static compilation:
[code]

[2019-12-16 02:56] #98 closed

[2020-01-02 23:41] nathangibson14 opened #100 "Bug in Input Error Checking"
NJOY21 errors out during input checking on the following input, citing 0 as an invalid input for ngend, which is incorrect.  This error does not appear when a non-zero tape number is given for the ENDF file.

[code]

[2020-01-15 23:49] brownjm1968 commented on #88
I just ran into the same issue and solved with the same flag as Dave when building with gcc 9.2 (homebrew installed)

[2020-01-16 20:28] jlconlin commented on #88
@brownjm1968 Can you tell me the commands that you used to compile NJOY21

[2020-01-16 22:39] brownjm1968 commented on #88
[code]

[2020-02-04 16:20] gregfi opened #102 "GROUPR cannot process neutron disappearance cross section (MT=101)"
I'm using njoy21 to process the IRDFF-II pointwise data file. The file is available for download [here](https://www-nds.iaea.org/IRDFF/IRDFF-II_ENDF.zip). For the cadmium cover material cross section, total neutron disappearance is represented with the "rarely used" MT=101 reaction type. Attempting to have GROUPR process this file fails with an error: "***error in findf*** mat4800 mf 3 mt101 not o

[2020-02-04 16:47] gregfi commented on #102
Input attached.
[1580834339519_1580834322869_1580834277513_cdcov_mt101_error.txt](https://github.com/njoy/NJOY21/files/4154705/1580834339519_1580834322869_1580834277513_cdcov_mt101_error.txt)

[2020-02-05 15:49] jlconlin commented on #102
@gregfi I have confirmed that we can reproduce the same error that you are seeing. It's not clear to me yet whether this is an NJOY bug or whether this is problem with the evaluation. We will look into this further.

The original ENDF file that was referenced from IRDFF-II is fairly large. I've extracted only material 4800 and have added it to this issue.

[tape20.txt](https://github.com/njoy/NJOY

[2020-02-06 15:42] chlavell opened #103 "Thermal Scattering low at very low temperature"
Hello,

Attempting to create 0.1 K thermal scattering law files.  Frequent NaN errors below ~3.5 K in LEAPR.   Varies with material.  Material requires Skold treatment.  Have attempted various alpha beta grids without success, also using einstien oscillators where appropriate.  Using a GDOS up to a few 10s of meV (instead of the full 400 meV range) seems to get temperature lower, but not where we

[2020-02-06 15:53] jlconlin commented on #103
Thank you @chlavell for your input. I can confirm that when I run your input, I get a bunch of `NaN`s as you have reported. It's not clear at the moment whether this is a bug in NJOy or a problem with your input deck. Unfortunately, I'm not an expert on thermal scattering data. Hopefully someone like @ameliajo, @vedantkm, or @marquezj can chime in.

[2020-02-06 21:44] marquezj commented on #103
Hi Chris: aside of the possible bugs, PMMA is a solid and the [Sköld](https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.19.1023) (and [Vineyard](https://journals.aps.org/pr/abstract/10.1103/PhysRev.110.999)) approximations are valid for liquids. If you really need the coherent inelastic component you should consider computing the one-phonon coherent contribution.

I will try to check the b

[2020-02-07 05:40] marquezj commented on #103
Ok @chlavell this is the problem: for very low temperatures you need large values of beta to represent the energies of the spectrum. `fsum` (the function used to compute the normalization of the spectrum, the effective temperature and the Debye-Waller integral)  requires the calculation of exp(beta), and that is the cause of the `NaN`s. As it is, the bug is it it gives back a `NaN` instead of thro

[2020-02-07 12:56] chlavell commented on #103
Thanks Ignacio,

Good to have an answer,  thanks for looking into it.  Maybe it’s an uniformed question, but Can we just throw zeros for beta > some value?  Happy to take an answer,  and discuss s(q) choice,  in one-to-one email.

Nice to hear from you again, by the way.  The new thermal inclusions in endf are a wonderful accomplishment.

Chris

Sent with BlackBerry Work
(www.blackberry.com)

From

[2020-02-07 15:03] chlavell commented on #103
Sorry, new to github. Didnt realize I could post here.

The S(Q) choice comes from our own measurements, the elastic shows structure factor.  Results similar to those of Kanaya (PHYSICAL REVIEW B, VOLUME 64, 144202) and Genix (Macromolecules 2006, 39, 3947-3958).

Given the measurements, I can already estimate <u2>, so if that computation is throwing the error, could we skip it and allow user inpu

[2020-03-03 16:46] marton384 commented on #96
Hey guys! I managed to compile/install the program after solving several issues with permissions and config commands. Yet when I try to run an input I get the following error message:

 reconr...                                                                0.0s
At line 212 of file /home/base/NJOY21/subprojects/njoy/src/util.f90 (unit = 20)
Fortran runtime error: Cannot open file 'tape20': No suc

[2020-03-03 16:53] jlconlin commented on #96
@marton384 In short, yes you need to provide your own `tape20`, this is generally (but not required) to be the evaluated file (i.e., ENDF-formatted file).

[2020-03-03 16:54] #96 closed

[2020-03-04 13:43] jlconlin commented on #103
So this seems like a problem with the input values and not an issue with NJOY. Am I misunderstanding the problem?

[2020-03-06 22:04] chlavell commented on #103
A bit of both.  The temperature I'm trying to achieve is very low, Liquid He4 temp.  Some of the excitation in the density of states are in excess of 100 meV.  E/kT becomes very large, which Ignacio believes is leading to NaN errors. That being said, trying reaching to these temperatures with NJOY/LEAPR is an unusual application.  That work just finished up, so we'll have to leave it there for now

[2020-03-11 08:35] marton384 opened #105 "BROADR demo"
Hi Everyone,

I've been trying to plot uranium cross sections at 4-5 different temperatures with the BROADR module but I still struggle with the nuclear library coupling. I could not find any information in the manual how does the code find the right XS library file to tabulate the data, how does one define/edit the tape. In short the code cannot load the "tape" so the run fails. Where can I get t

[2020-03-11 13:44] jlconlin commented on #105
@marton384 Can you share an input deck and initial ENDF file (i.e., tape20 )that you have created already? That would help us to help you.

[2020-03-11 13:44] whaeck commented on #105
The tests provided with NJOY21 (and NJOY2016 as well) provide a large number of examples on how to use NJOY for various purposes. In your case, I would suggest looking at test 19 and 24, which give examples on processing an ACE library. Using RECONR and BROADR is a requirement to do that. You'll still need to download the ENDF files you wish to use and link to the ENDF file you wish to process. Fo

[2020-03-12 20:05] #103 closed

[2020-03-18 13:19] #88 closed

[2020-03-18 13:21] jlconlin opened #106 "Maybe uninitialized variables when building with GCC in release mode"
When building in release mode with GCC 7.3.0 (and probably other versions of GCC), several `maybe-uninitialized` errors are thrown. See below:

[code]

Note this does not occur when using the LLVM compiler.

[2020-03-18 13:24] jlconlin commented on #106
Note, this is likely an issue in the component [lipservice](https://github.com/njoy/lipservice) than in NJOY21 directly.

[2020-03-18 13:56] jlconlin commented on #106
I think this is a bug in GCC. The code that GCC points to as being uninitialized is [here](https://github.com/njoy/lipservice/blob/master/src/lipservice/POWR/Lib3/Card12.hpp):

[code]

You can see that `aw`, `temp`, and `fpa` are all initialized in the constructor.

By the way, when I use GCC version 9.2.0, I get a different uninitialized error.

[2020-03-18 14:26] nathangibson14 commented on #106
I got uninitialized errors with both 9.2 and 8.3 yesterday, although I didn't pay attention to if they pointed to the same spots or not.

These "may be uninitialized" errors are actually warnings converted to errors by using strict compiling.  We can probably add some compiler flags to GCC to ignore these warnings if we don't find a better solution.

I'll keep looking to see if I can figure anythi

[2020-03-18 14:36] whaeck commented on #106
There's probably a reason to this. We didn't have these before so something is going on.

I only use 7.2 for the moment but I haven't recompiled lipservice or NJOY21 for a while so I can't say if 7.2 has the same issue.

________________________________
From: Nathan A. Gibson <notifications@github.com>
Sent: Wednesday, March 18, 2020 8:27:00 AM
To: njoy/NJOY21
Cc: Subscribed
Subject: [EXTERNAL] Re

[2020-03-18 15:06] jlconlin commented on #106
We intentionally turned warnings into errors with the hopes that we get better code. I think in general it's a good idea.

We can rethink this policy, or turn off some warnings, or even do it differently from one compiler to another.

[2020-03-18 19:19] nathangibson14 commented on #106
Here's a good read for some others with similar code throwing the `-Wmaybe-unitialized` warning.  I particularly liked the comment "maybe-uninitialized includes maybe for a reason".
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80635

This at least relates to the warning being around some `std::optional`, which is where GCC 9.2 and 8.3 seem to throw the warning.  The example @jlconlin included abov

[2020-03-18 19:36] jlconlin commented on #106
We can do that specifically on NJOY21 I think by doing this in NJOY21.hpp:

[code]

I wonder if that will be sufficient or if we need to wrap the pragmas around more of the code in NJOY21.hpp.

[2020-03-18 19:40] nathangibson14 commented on #106
Assuming this works, I'm fine with this change.  Fortunately, lipservice isn't used by other components.

The other option is to do this in CMake, and attach is specifically to the release build option.  That way, warnings would still appear if compiled with debug options of blank or debug.

[2020-03-18 20:02] whaeck commented on #106
We should investigate this further before trying to switch off the error to remove it. Once we start doing this, it'll be always easier to remove the error instead of addressing it. I have no objection doing this on code that we did not write (e.g. we actually have had to do this with Eigen) but we own this code so we should do more to try to figure it out first.

We could assign the values a defa

[2020-03-18 20:05] jlconlin commented on #106
@whaeck I aree with your sentiment. However, GCC seems to be inconsistent here. It fails in different spots using different versions of GCC. It does *not* fail when compiling lipservice on its own. Since lip service is tested independently (and this warning/error doesn't come up), I'm comfortable turning off the warning in NJOY21.

[2020-03-18 20:07] nathangibson14 commented on #106
I was typing up a similar response to @whaeck as @jlconlin just posted.  I don't want to waste a lot of time chasing down what definitely seems to be a GCC bug, particularly with it hitting inconsistently.  Redundant declarations can probably avoid this warning, but I'm worried that we'd need a whole lot of these.  And lipservice isn't the focus of development now anyway.

[2020-04-27 05:19] marquezj opened #108 "Cold moderators in LEAPR"
This is a follow up of  #103 presented by @chlavell, and might be of interest to @ameliajo.

I tried to recreate the evaluation for solid methane in ENDF/B-VIII.0 using a current version of NJOY and the input in the manual. What you get for the inelastic scattering cross section is:

[xs_ch4.pdf](https://github.com/njoy/NJOY21/files/4537464/xs_ch4.pdf)

This is a long known problem with cold moder

[2020-05-27 22:14] Kutyreff opened #109 "Trouble with make NJOY21 in Cygwin64 Virtual Linux Environment, Windows 10 OS"
Hello,

When trying to make NJOY21 (following the installation guide online), the operation failed with errors:

[ 27%] Building Fortran object subprojects/njoy/CMakeFiles/njoy.dir/src/endf.f90.o
f951: internal compiler error: Segmentation fault
Please submit a full bug report,
with preprocessed source if appropriate.
See <https://gcc.gnu.org/bugs/> for instructions.
make[2]: *** [subprojects/njoy

[2020-05-28 20:49] nathangibson14 commented on #109
Hi CK,

Thanks for reaching out.  I haven't seen issues like this before, but I also don't have much experience on using NJOY on Windows either.

This looks like a compiler bug.  What version of GCC are you using?  Do you have access to another compiler or another version on your system?

Thanks,
Nathan

[2020-05-30 08:27] RokShox opened #110 "Compilation fails at link stage"
**Context:**
Windows 10 64 bit
Latest Cygwin (full install, just updated)
gcc version 9.3.0
signature 1.1.1-NJOY21.json

**Problem:**
At "make" stage of building per instructions from http://www.njoy21.io/Build/index.html, fails with following error:
[ 84%] Building CXX object CMakeFiles/njoy21.dir/src/main.cpp.o
/usr/lib/gcc/x86_64-pc-cygwin/9.3.0/../../../../x86_64-pc-cygwin/bin/as: CMakeFiles/n

[2020-05-30 13:57] nathangibson14 commented on #110
Thank you for reaching out.  Unfortunately, our team does not often use NJOY on Windows, and I'm not sure the last time we attempted to build it on Windows.  I will try to get my hands on a Windows machine and recreate the problem.  A quick search tells me this error is Windows-specific and there may be some compile flags we could turn on to fix it.  I don't really expect this to help, but you cou

[2020-05-30 15:05] Kutyreff commented on #109
Hello Nathan,

Thanks for getting back to me. And sorry for my slow response. I tried updating GCC and Cygwin to solve the issue, and indeed I am no longer getting the seg fault error. However, I am now faced with a new problem when compiling:

[ 84%] Building CXX object CMakeFiles/njoy21.dir/src/main.cpp.o
/usr/lib/gcc/x86_64-pc-cygwin/9.3.0/../../../../x86_64-pc-cygwin/bin/as: CMakeFiles/njoy21.

[2020-05-30 16:29] Kutyreff commented on #109
Hello again Nathan,

Just to follow up, I seem to have successfully installed NJOY2016 in this environment (0 of 55 tests failed in the make test stage). I am not sure if this information is diagnostically helpful, but I thought I would share it anyway.

Cheers,

CK

[2020-05-30 16:55] nathangibson14 commented on #109
Thanks for the information.  You seem to be getting the same issue as #110, which just came in last night, so it's good to know this is a consistent problem in Cygwin.  Using NJOY2016 was my suggested workaround, so you already found that solution.

I'll try to get a Windows machine up and running to see if I can fix the compile flags leading to that problem.

Thanks,
Nathan

[2020-05-30 17:33] RokShox commented on #110
**Update**
The issue is related to two limitations in the Windows PE/COFF object file format:

- A maximum of 32766 sections are allowed
- The string table can't be longer than 10 million bytes

The fix for the first limitation is to add the flag "-Wa,-mbig-obj" to the GCC compilation flags. Note this is a single argument which arranges for the -mbig-obj flag to be passed to the assembler (-Wa).

[2020-05-30 19:43] RokShox commented on #110
### Update 2

The tests were failing because shared libraries could not be located. I assume the cmake process is munging LD_LIBRARY_PATH during the "make test" to point at the dlls in ./subprojects, but Cygwin does not use LD_LIBRARY_PATH. Instead it looks for shared libraries on PATH directories.

I copied these dlls to /usr/local/bin (already on my PATH):

- cygnjoy.dll
- cygnjoy_c_bindings.dll

[2020-05-30 20:40] #110 closed

[2020-05-30 20:44] RokShox commented on #109
Yes I solved this problem. See my updates to #110.

[2020-05-30 21:22] nathangibson14 commented on #110
I'm glad that worked, those were the flags I was going to try.  We'll hopefully get those implemented into our build system soon so that it works out of the box for future updates.  Thanks for being willing to dig into the issue!

[2020-05-30 21:55] kahlerac commented on #110
All,
   For what its worth, NJOY21.1.1.1 installs and passes all tests just fine
under WSL/Ubuntu (at least after manually installing python2 since you only
get python3 by default) so be careful you don't break something while
fixing something else.  And the soon to be May 2020 Win10 update is
supposed to give us WSL2 so who knows what other "improvements" you'll have
to work through!
Skip

On Sat

[2020-06-01 14:07] jlconlin commented on #110
So I'm glad that you were able to find a workaround for this. Officially, we do not support NJOY running in the Cygwin environment and suggest people use WSL. The only reason for this is that we don't have the resources to test every environment. We are working on improving the build system and hopefully that will improve our options for Windows environments.

[2020-06-01 14:10] nathangibson14 commented on #110
Just to be clear, njoy21.io says:
"Note that in Windows we currently support compiling and running under the Windows Subsystem for Linux or the Cygwin environment. If you have the necesssary components installed, this should also work in the DOS environment."

We should probably change that if we aren't going to officially support Cygwin :)

[2020-06-01 14:12] jlconlin commented on #110
Oh

Oops. I thought that it only said WSL. We are going to have to fix that.

[2020-06-01 15:36] RokShox commented on #110
I'm not married to Cygwin wrt NJOY, but the support required was a simple compiler flag. I do use Cygwin apps for a lot of other stuff, particularly my precious Emacs.

[2020-06-01 16:00] nathangibson14 commented on #110
@RokShox Thanks for the input.  I agree, pushing your change to the CMakeLists to support Cygwin with the current version is easy enough.

That said, we're currently revamping our build system, so we'll have to have some internal discussions about how to approach the environments we support as part of that.  The concern is if we make a big change (e.g., adding a new dependency, upgrading the C++ s

[2020-06-01 16:16] RokShox commented on #110
Yes, of course. I'm not pushing for it.

[2020-06-01 19:27] Kutyreff commented on #109
Thanks everybody. I am less savvy than the rest, so I'll stick with NJOY2016 until the Cygwin fixes get implemented. I appreciate all the help!

[2020-06-01 19:27] #109 closed

[2020-06-03 22:49] nathangibson14 opened #111 "Update ranges Dependency"
I think we should think about updating our `ranges` library sooner than later.  It's going to be a big effort, as we use `ranges` all over the codebase and the syntax has changed significantly.  But updating soon is probably better than generating more code we'll need to update later.

I see two big reasons to update:

1. We can't currently use the documentation of the `ranges` library, as it refl

[2020-06-03 22:59] jlconlin commented on #111
This is a good idea, except for one thing. We **must** finish RECONR this year. I'm happy to tackle updating the ranges library as soon as that gets checked off. That won't happen for a couple more months, but as soon as it is done, we should update ranges and start using the C++20 syntax.

[2020-06-03 22:59] whaeck commented on #111
We should be careful doing this, some of the ranges capabilities are NOT in the C++20 standard yet.

[2020-06-03 23:03] jlconlin commented on #111
Do we know which of the ranges capabilities are not in the C++20 standard? I suspect (but don't know) that everything we use is in the standard.

[2020-06-04 23:11] whaeck commented on #111
actions, like drop, take, etc.

[2020-08-26 21:34] Tread84 opened #113 "subprojects error"
When I run the following command: ../metaconfigure/fetch_subprojects.py ../1.1.0-NJOY21.json

I get the output on my screen:

Updating to master branch...

However, when I go to make NJOY21 directory there are no subprojects that have been created.. Any help would be greatly appreciated.

[2020-08-26 23:08] jlconlin commented on #113
I suspect you are running that command from the `bin` directory. Correct? If so, you won't see the `subprojects` directory there. The `subprojects` directory will be in the `njoy21` directory as a sister directory to `metaconfigure`. Can you check to see if it's there?

[2020-08-26 23:10] jlconlin commented on #113
I need to correct what I said. The command:

[code]
Needs to be executed from the top-level directory of NJOY21. If you execute that command anywhere else, it won't work.

[2020-08-26 23:25] Tread84 commented on #113
So this is the error, that is received upon running that command:

Traceback (most recent call last):
  File "./metaconfigure/fetch_subprojects.py", line 101, in <module>
    with open ( sys.argv[1], "r" ) as json_file:
FileNotFoundError: [Errno 2] No such file or directory: '../1.1.0-NJOY21.json'

[2020-08-26 23:33] jlconlin commented on #113
So I think you are doing this from the wrong place. Let's start fresh. Delete the repository you have cloned and do the following (taken directly from http://www.njoy21.io/Build/index.html):

[code]

[2020-08-27 02:55] #113 closed

[2020-09-17 15:46] jlconlin opened #114 "Finish converting LRF=1,2 to RML."

[2020-09-17 16:42] jlconlin opened #115 "Finish fetchcontent build system conversion."

[2020-09-23 07:19] jchsublet opened #116 "Compilation issues, trying NJOY21"
On MacOs Mojave 10.14.6 and with gcc version 8.3.0 (GCC), after having followed all instruction I do get with
 make
Scanning dependencies of target utility
[  1%] Building CXX object subprojects/utility/CMakeFiles/utility.dir/src/utility/stream/src/getRealWithLBound.cpp.o
[  2%] Building CXX object subprojects/utility/CMakeFiles/utility.dir/src/utility/stream/src/getRealNumber.cpp.o
[  4%] Buildin

[2020-09-23 18:12] whaeck commented on #116
This appears to be an issue with the compiler preprocessor (in which we exclude certain warning messages). Your version of clang/gcc does not appear to have this particular warning.

@jlconlin Any ideas?

[2020-09-24 14:35] jchsublet commented on #116
You loose me there as for me apple and orange are different fruit; clang is from the LLVN project while gcc from the GNU. Two different compilers, if I can change the gcc version on any Mac OsX I have no say on the Xcode clang choice, made by Apple themselves. Which one you want/need to use on OsX ?

[2020-09-24 14:40] jlconlin commented on #116
@jchsublet LLVM only provides a C/C++ compiler; it does not provide a Fortran compiler. You need to have a Fortran compiler to compile the Legacy NJOY parts. Thus, you need both LLVM and gfortran (from GCC). Likely what is happening is that CMake is using g++ and gfortran (both part of the GCC suite).

I think a solution would be to invoke CMake like this:

[code]

That should ensure that you are

[2020-10-05 13:44] jchsublet commented on #116
Unlikely as your new option -Wmaybe-uninitialized belong to Clang 12 class,  does not work with Clang 10 or 11, so force Xcode 12, is that what you really want? as many OsX user will not wish or could to so quickly shifted to this Xcode level

On OsX the LLVM level is not a choice, this is imposed by Xcode

[2020-10-08 23:40] chapmancw commented on #108
While not directly related to solid methane, I have come across a similar problem.

I’m trying to process the JEFF3.3 thermal scattering library for para-hydrogen, and I noticed that there was some odd behavior in the energy-differential cross section. For example, with Ei=1.16 eV, the energy-differential cross section exhibits an odd behavior:

![para_H_dE](https://user-images.githubusercontent.c

[2020-10-11 19:01] jlconlin opened #117 "Include njoy21.hpp doesn’t work for tests."
Since I eliminated the creation of the NJOY21 library, the tests can't compile. Need to add the correct path as one of the include directories, although I'm not sure which one it is.

Note, this is in the `feature/RECONR` branch, but needs to be fixed before the next release.

[2020-10-15 17:03] jlconlin opened #119 "THERMR"
Get THERMR integrated into NJOY21 and merge into release/v1.2.0 branch

[2020-10-15 17:03] jlconlin opened #120 "LEAPR"
Get LEAPR integrated into NJOY21 and merge into release/v1.2.0 branch

[2020-10-28 22:11] jortensi opened #121 "LEAPR gives error on negative iel value"
The leapr input files for H in ZrH include a -1 entry for iel (card 5)
 .99917 20.478 1 -1/
but I get the error
[error] Encountered invalid value for iel
[info] Error while parsing line 6

 .99917 20.478 1 -1/
[code]

[2020-10-29 03:41] ameliajo commented on #121
Hi, sorry I didn't know you were using NJOY21 (I thought you were using NJOY2016 on the email chain, for some reason). Go ahead and change iel to 0.

Negative values of iel were technically allowed for NJOY2016, so I didn't even think to change it in the input I pointed you towards. As you can see from the error message above, they are not supported for NJOY21.

If you were to take this input and

[2020-10-29 22:45] #105 closed

[2020-10-29 22:53] jlconlin opened #123 "Update number of integration tests."
[NJY2016](https://github.com/njoy/NJOY2016) has many more tests than NJOY21. The tests in NJOY21 should be updated to include those of NJOY2016.

[2020-11-02 20:21] jlconlin commented on #106
This problem has cropped up again.

I tried to compile with GCC version 9.2.0 and got this error:

[code]

I removed the `pragma` code in version 1.2.0, and that seems to cause GCC to fail to compile in Release mode.

[2020-11-02 20:49] #115 closed

[2020-11-02 20:50] #117 closed

[2020-11-02 22:18] jlconlin opened #125 "Remove signature command-line option"
With the updated build system, this is no longer needed.

[2020-11-18 23:40] JanFrybort opened #128 "Selection of sigma_0 values in plotr"
Is it possible to set ntp>2 for groupwise data to choose among multiple sigma_0 vaules? NJOY 1.2.0 complains with the following error

`[error] Encountered invalid value for ntp`
`[info] Error while parsing line 49`
``
`1 28 9237 3 1 293.6 1 3 1/`
`~~~~~~~~~~~~~~~~~~~~~~^`
``
`[info] `
`The ntp variable's purpose changes depending on the mfd value.`
``
`For mfd=3, 4, or 5, ntp is not used.`
``
`Fo

[2020-11-19 00:26] nathangibson14 commented on #128
Hello,

I think I know what's going on here, but I'll need to look into it a little more.  Can you share the rest of your plotr input?

--Nathan

[2020-11-19 08:05] JanFrybort commented on #128
Hi and thank you for the response. I am attaching the groupr and plotr inputs.
[issue128.zip](https://github.com/njoy/NJOY21/files/5565262/issue128.zip)

[2020-11-30 20:35] kermitnuc opened #129 "error generating ISOTXS file"
The attached input file runs using ENDF7.1 base cross sections but the isotope CHI is all zeros.
The code has a segmentation fault when using ENDF8 cross sections.

Am I doing something wrong or is there a issue with the CCCCR.f90 code.

Thanks for the assistance.

[njoy-12.txt](https://github.com/njoy/NJOY21/files/5618581/njoy-12.txt)

[2020-11-30 20:44] kermitnuc opened #130 "input checker expects different input then CCCCR"
If ICHIX is set to greater than 1, the input checker expects a ICHIX*NGROUP list of entries on card 3.  While CCCCR expects a NGROUP sized array.

[2020-11-30 20:46] kermitnuc opened #131 "Input checker expects different input than CCCCR"
If ICHIX is set to greater than 1, the input checker expects a ICHIX*NGROUP list of entries on card 3.  While CCCCR expects a NGROUP sized array.

[2020-12-01 04:08] staleyLANL commented on #106
Just a quick thought, looking at this for the first time. (Maybe you're way ahead of me on this.) Because aw, temp, and fpa are initialized in a "try", the compiler might be thinking, "well, if an exception is thrown while trying, some or all of those might not have been initialized yet." Hence the warning/error.

Of course, anything - anywhere - might not be initialized as it appears to be initia

[2020-12-01 14:45] jlconlin commented on #106
@staleyLANL Thanks for looking in to this. We have this construct throughout lipservice; if we fix it for this particular case, it would crop up somewhere else.

I don't think we can move the initialization to the body of the constructor because the `Argument<...>` class doesn't have default constructors (I think).

[2020-12-03 00:34] partofthething opened #132 "Installation instructions error out with no metaconfigure folder"
I had the following troubles compiling NJOY21. Looks like the metaconfigure folder is missing.
[code]

[2020-12-03 00:49] partofthething commented on #132
To be fair, if I just ignore the error and continue with the installation instructions it does build successfully. So maybe just add a note that this folder is only relevant for NJOY2016 (if that's the case)?

[2020-12-03 12:55] jlconlin commented on #132
@partofthething We recently changed the build system and thus the instructions for building. Please see https://docs.njoy21.io/install.html for new instructions

[2020-12-03 12:55] #132 closed

[2020-12-03 14:18] chapmancw opened #133 "Characterisic Bound Cross Section in LEAPR & THERMR"
When trying to process the polyethylene & lucite thermal scattering files in AMPX, we noticed that we were getting a significantly larger value for the incoherent elastic cross section than was produced by NJOY. We determined that the difference comes from how they handle the characteristic bound cross section. While the bound cross section is normally defined by

`sig_b=4*pi*(a_c^2+a_i^2)`

where

[2020-12-03 15:07] jlconlin commented on #133
@ameliajo Care to chime in on this?

[2020-12-09 16:31] andrewmholcomb commented on #133
Any updates on this?

[2020-12-09 17:31] whaeck commented on #133
While I'm not a specialist on this, I believe this to be correct. The data in the ENDF file is given for a moderator material, not a single nuclide (hence the multiplication by the number of atoms of that type). This is also clear when looking at the ENDF format for MT4, the free cross section for the principal and secondary scatterers is defined as Msigma_f (B(1), B(8), etc.) where M itself is th

[2020-12-15 01:37] sombrereau opened #139 "MF35 does not process if MF34 is processed"
In reference to [discussion about calculating angular distributions in Pu239 with ENDFVIII data](https://github.com/njoy/NJOY21/discussions/138)

NJOY's errorr module WILL produce a MF35 covariance tape if the errorr module called before the errorr call to produce a MF34 ([case the works](https://github.com/njoy/NJOY21/files/5692580/works.txt)), but WILL NOT if the call to produce a MF34 covarianc

[2020-12-15 19:19] sombrereau commented on #139
This behavior happens with Pu242 -- which is strange because you also need to add the additional reactions to resolve a -- no information for mt251 issue, similar to the Pu239 nuclear data. Maybe important ... maybe a red herring?

[2020-12-16 02:23] mattooca opened #140 "THERMR produces coherent elastic cross section even if no MF7 MT2 present in TNSL file"
Just ran into a surprise when comparing FUDGE and NJOY results for thermal neutron scattering.

For several materials including HinH2O, DinD2O, OinD2O and benzene, the ENDF-VIII evaluation only includes an incoherent inelastic section (MF7 MT4), no MT2 elastic.  However, THERMR still produces an elastic cross section that appears to have Bragg edges.  This elastic cross section appears to be the s

[2020-12-16 02:54] jlconlin commented on #140
As us usually the case with thermal scattering questions, I defer to @ameliajo or @marquezj. They are the thermal scattering experts, not me.

[2020-12-16 14:46] ameliajo commented on #140
Hi, I believe this behavior arises because icoh [6th value in Card2] is set to 1. We're rewriting THERMR right now, but as it is currently icoh=1 tells THERMR that you want coherent elastic data for graphite, and so it [in THERMR] calculates the bragg peak locations etc for that. Setting icoh=0 should fix your problem. In rewriting THERMR, I came across this exact behavior with H(H2O) and spent aw

[2020-12-17 09:16] marquezj commented on #140
Yes, I agree with @ameliajo. It is not a bug, it is exactly the expected result. When you run THERMR to process a liquid you should set icoh=0.

THERMR has hardcoded the parameters for some of the thermal scattering materials in ENDF/B-III to V. Those evaluations were produced with GASKET, which was not able to compute MF=7 / MT=2, and NJOY supports processing them by including Bragg scattering pa

[2021-01-22 20:31] AI-Pranto commented on #98
@whaeck, With the latest release of `1.2.2`, I got
[code]
I am using
- CXX compiler `Clang 11.0.0`
- Fortran compiler `GNU 9.3.0`

[2021-03-30 19:44] herter4171 opened #147 "Can't Build v1.0.6"
I've been trying to build `v1.0.6`, because some tooling I was given used that version.  All I've done to build is
[code]
I did see on the `v1.0.6` readme that a signature file could be generated, but I don't have the means to generate that file without that version of the binary.  I can't make sense of the CMake errors, but something isn't right here.  CMake logs can be viewed [here](https://gith

[2021-03-30 21:48] herter4171 commented on #147
Well, I got a signature file from someone upstream.  The script `fetch_subprojects.py` seems to ignore the `njoy21` commit spec, because it just checks out the head of `master`.  To get around that, I run
[code]
Removing those lines allows the build to proceed with the desired tag checkout.

I still think there's a broader issue here regarding the ease of building old tags, because I shouldn't hav

[2021-03-30 21:54] whaeck commented on #147
I was already looking into your issue, and experiencign the same issues as you. We've actually completely overhauled the build system some time ago and removed all of the subprojects and metaconfigure business. More recent versions of NJOY21 use this new system and it builds a lot cleaner.

We are actually planning on generating off-line installation packages as well (which we can implement with t

[2021-06-26 15:40] Bugami opened #150 "install in Anaconda environment"
Hi

I would like to know if possible to install NJOY21 in anaconda environment in order to use it for openmc?

Thank you

[2021-06-28 14:02] ameliajo commented on #150
Unless I am mistaken, any openmc utilities that allow for njoy to be used will allow for you to specify the location of the njoy executable (with the argument typically called njoy_exec or something like that). So you should be able to build njoy using cmake/make and feed openmc the executable location.

[2021-07-06 20:08] roberto160275 opened #151 "Segmentation fault when compiling NJOY21 on mac"
Hi, I have tried to compile NJOY21 from source as explained here (https://docs.njoy21.io/install.html) and compilation failed due to a segmentation error while doing 'make'. There are many warnings during compilation too. Below is the output from 'make'. I'd appreciate some help to work this problem out.

Greetings,

Roberto.

Vajrayana:bin roberto$ make
[  1%] Building Fortran object _deps/njoy-b

[2021-07-07 15:27] whaeck commented on #151
I would like to ask you for some more information about your compiler version (I assume that the compiler you are using is the GNU fortran compiler). We have been compiling NJOY2016 (which is what NJOY21 uses under the hood) with gfortran 7, 8 and 9 without issues for years now. I haven't tried with 10 or 11 (although I regularly use those for C++ compilation).

I would suggest trying with gcc-9,

[2021-07-07 18:01] roberto160275 commented on #151
Hi Wim,

thank you for your reply. I think I’m using the gfortran 11 version as you can see in the attached file. I’ll try to install gcc 9 and see if that works (I have to find out how to uninstall 11 and install 9). I have tried installing NJOY2016 and I got the same segmentation fault error. Do you have any idea why I get so many warnings during compilation?

Greetings,

Roberto.

[2021-07-07 18:13] whaeck commented on #151
I just tried using gcc-11 to compile NJOY2016, and I'm seeing the segfault you're describing here. As a result, I'm moving this issue to NJOY2016 itself.

The warnings are normal, since we've switched on the compiler warning flags. If you compiled NJOY2012 or NJOY99 with these flags switched on, you'd see the same warnings.

[2021-08-18 20:25] pjgriff opened #153 "Processing of MF10 Multi-isotope entries"
Issue: NJOY fails to properly handle files with multiple MF10 entries. The use of multiple MF10 residual entries is supported within the generic ENDF-6 format.

Motivation:  Dosimetry applications often read the activity from foils that represent the natural abundance of isotopes. I note that the IRDFF-II library still provides the dosimetry reactions on the separate isotopes, but the dosimetry co

[2021-08-18 20:40] pjgriff commented on #153
Looking at the other releases for NJOY-2016, It appears that my issue was previously submitted by Larry Greenwood -and was already addressed: https://github.com/njoy/NJOY2016/issues/124
I will try to apply the changes in this release and it should fix my issue.

[2021-08-18 20:45] nathangibson14 commented on #153
Thanks, @pjgriff for tracking down the history here.  Running a relatively recent NJOY2016 myself I do not see this problem.  Are you running an older NJOY release?

And thanks @kahlerac for already fixing the issue!

[2021-08-18 22:52] kahlerac commented on #153
All,
   This was patched in njoy2012.145.  Being able to process multi-isotope
mf40 remains a tbd issue to resolve.
Skip

On Wed, Aug 18, 2021 at 4:45 PM Nathan A. Gibson ***@***.***>
wrote:

--
Dr. A. C. (Skip) Kahler
Kahler Nuclear Data Services, LLC
***@***.***
+1 321 368 3645

[2021-08-19 03:58] pjgriff commented on #153
Yes, my work was based on NJOY-2016 version 2019.1 - an older version - and, yes, it appears that my issue was logged against NJOY21 rather than NJOY-2016. This is a reflection of the fact that I am a novice to GitHub version control and still have a lot to learn about the version control system.
I have verified that Skip's changes in the latest release address/solve my issue. Thank you very much

[2021-08-19 03:58] #153 closed

[2022-01-05 04:43] Mahdi-20 opened #156 "Plotting energy-angle distributions"
Hello experts,
I am trying to plot the energy-angle distributions of 197Au(g,xn) using NJOY.
My questions are:
1- Is there a way to plot the energy-angle distributions (b/MeV/sr) of 197Au(g,xn) reaction from the **ACE** file? I used the **viewr** module but it outputs only the sigma in a unit of barn versus the photon energy.

2- I was trying to get the energy-angle distributions from the **ENDF6*

[2022-03-07 00:04] kermitnuc opened #157 "Unable to compile using GCC 11"
I got this error today using GCC 11 on a MacBook Pro running OsX 12.2.1

[ 28%] Building Fortran object _deps/njoy-build/CMakeFiles/njoy.dir/src/errorr.f90.o
f951: internal compiler error: Segmentation fault: 11
Please submit a full bug report,
with preprocessed source if appropriate.
See <https://github.com/Homebrew/homebrew-core/issues> for instructions.
make[2]: *** [_deps/njoy-build/CMakeFiles

[2022-03-07 08:26] XingkaiHuo opened #158 "Segmentation fault (core dumped) with ACER"
Issue:
When I try to generate ACE files from JENDL high-energy libs, the NJOY21 terminates with 'Segmentation fault (core dumped)' at ACER step. For some nuclides, if the newfor is set to 0 or temeprature is set to around 300K, the code passes, but for some other nuclides, the problem still remains.
With some other nuclides, the NJOY21 terminates with error message '***error in acelf6***storage ex

[2022-03-15 06:43] erosenst opened #159 "Beginners quide, FAQ, examples?"
Hello is it possible to add some runable examples in sources directory? (simple .sh with input file?)

I'm currently stuck point where tests gone 100% ok. But how inport/define my endf library to njoy21? Simple commandline example?

I just try simple njoy21 -i input.txt but got:
 [error] Encountered unexpected argument
[info] Error while parsing line 8

’PENDF tape for ENDFB-6.8 92235(0)’
[code]

[2022-03-15 13:26] nathangibson14 commented on #159
Hello,

You can find several examples of working input files in the tests directory, and you are invoking NJOY correctly.  The particular error you are getting is because input lines with strings must be terminated with a “/”, which you are missing from the first such line under reconr.

This website is an old resource, but all the information should still be pertinent despite references to older

[2022-03-16 05:10] erosenst commented on #159
That was just case. njoy21 have ten variables in thermr card 2:

[2022-03-16 15:08] whaeck commented on #159
Hi.

NJOY2012 actually modified the NJOY input for card 2 in THERMR - which is causing your issue. It added the iform argument between icoh and natom:
[code]

This is what is currently in the NJOY2016 manual and in the NJOY2016 source code.

Best regards,
Wim

[2022-04-13 14:04] ParticleTruthSeeker opened #161 "Memory consumption at 94%"
I tried building several versions of njoy21 1.2.1 1.2.2 1.3.0 and at around 94% the memory usage increases by 15GB before i cancel the compilation to prevent the system from hanging.
I am using debian and GCC10. No errors are listed other than this.

Any clues as to what may be causing this and how to fix it?

[2022-04-13 14:45] whaeck commented on #161
NJOY21 uses some internal dependencies with some very high memory requirements during compilation. Part of the problem is the use of a relatively old version of ranges-v3 (an external library used in many of the NJOY21 libraries). We have updated this dependency in the NJOY21 components that are under active development and this has resulted in significantly lower memory requirements and compilati

[2022-04-13 15:07] ParticleTruthSeeker commented on #161
Thank you for the detailed response. I will clear some background tasks and give it another go, failing that I will try njoy2016 which I have built successfully in the past. Good luck with your development effort.

[2022-04-13 15:19] whaeck commented on #161
You're welcome ;-)

[2022-04-14 14:20] mehmeturkmen opened #162 "Segmentation fault in compiling NJOY on Conda enviroment"
I tried to compile NJOY21 on the Conda environment on Ubuntu 20.04 (installed on Windows Subsystem for Linux). I saw no error in configuring the building process by following the steps in "Installing NJOY". The compilers I am using are: Cmake 3.23.1, GCC/Gfortran 11.2.0, and Pyhton 3.9.4. Any idea about what may cause the following error? Besides this, I wonder why I am getting a bunch of warnings

[2022-04-14 15:27] whaeck commented on #162
Gcc-11 has an issue with the NJOY2016 source code for the ERRORR module. It's a weird issue that we've tried to diagnose but it does not seem to be caused by the actual source code. Something seems to be wrong with the gcc-11 preprocessor or compiler itself that causes this. If you can switch to a different compiler (gcc-7 up to and including gcc-10 and gcc-12) should compile things correctly.

As

[2022-04-15 16:24] mehmeturkmen commented on #162
Thanks for the clarification.  The only version which works on my computer is GCC-10. Other versions gave the same error. Tests passed but I am not sure if I face some serious problems while I produce cross-sections. I am gonna try later once again with an updated version of GCC. I have already had a complied version of NJOY2016. For now, I will continue to use it.

[2022-04-15 17:55] whaeck commented on #162
I will have to update the prerequisites to exclude gcc-11 as a supported compiler due to this issue which should help in the future. Either way, I'm happy you managed to use gcc-10 instead.

[2022-04-18 02:06] aj-page opened #163 "Segmentation fault when attempting to make (Mac M1)"
Warning: Array reference at (1) out of bounds (-2 < 1) in loop beginning at (2) [-Wdo-subscript]
[ 28%] Building Fortran object _deps/njoy-build/CMakeFiles/njoy.dir/src/errorr.f90.o
f951: internal compiler error: Segmentation fault: 11
Please submit a full bug report,
with preprocessed source if appropriate.
See <https://github.com/Homebrew/homebrew-core/issues> for instructions.
make[2]: *** [_de

[2022-04-18 02:44] whaeck commented on #163
There is a known issue within the gcc-11 compiler that causes an internal compiler error when compiling NJOY's ERRORR module. For more details on this, see issue #162 and NJOY2016 issue [211](https://github.com/njoy/NJOY2016/issues/211).

There is nothing that can be done to fix this other than switching to either gcc-7 up to and including gcc-10 or gcc-12. Since this issue has been reported on be

[2022-04-18 02:44] #163 closed

[2022-04-25 21:53] negatron1 opened #165 "tape20 and input files for test2"
Hi everyone, hope everything s going well!
I am new to NJOY environment, just downloded code, and made tests. Then, I wanted to figure out which files are used when the input files are executed. I opened the tape20 and input files in test2. I faced pendf tape for **"pu-238 from endf/b-iv tape 404"** in inp file while in tape20, **9.22340+** appeared, for that reason ı searched for endf files on th

[2022-04-25 22:21] nathangibson14 commented on #165
Hi @negatron1 , the T-2 website is quite old and out of date, as you are already observing!  I still recommend some of the NJOY information on that site if you can find it, as much of it is still relevant, even if not perfectly conforming to our newest versions' input files.

For ENDF files, you should get them from the NNDC at Brookhaven: https://www.nndc.bnl.gov/endf/

Let us know if you need mo

[2022-04-25 22:21] #165 closed

[2022-05-03 22:35] herter4171 opened #166 "Can't build v1.1.0 using given instructions"
Based on the docs, what I've been doing is
[code]

This gets me errors like in my screenshot below.  I have played this game with `v1.6.0` before, so I'm pretty sure I just need a `signature.json` for `v1.1.0`.  How invasive would it be to include those signatures in the repo tags?  That would save us both some leg work.

![image](https://user-images.githubusercontent.com/21989132/166583965-dcabf6

[2022-05-04 15:08] #162 closed

[2022-05-04 15:08] #161 closed

[2022-05-04 15:59] whaeck commented on #166
Normally if you do a "fresh" clone (i.e. from scratch), you should not be seeing these issues. These often pop up due to updates to the dependencies and/or the build system when switching versions and/or branches after having cloned NJOY21.

You may want to try removing the NJOY21 folder and try a fresh clone again. I actually tried the exact same commands as you mentioned and I did not get these

[2022-05-04 17:53] herter4171 commented on #166
I have been following the commands I listed, so I've been using fresh clones.  The only thing I botched in my description was a `cd build` before invoking CMake.  As far as the platform, we're on Amazon Linux 2, which uses the Yum package manager.  On this platform, I can build `v1.0.6` only with a `signature.json` obtained from a third party, and I can build `v1.2.2` as-is.  From the CMake output

[2022-06-22 08:37] KDeo22 opened #167 "Installation problem"
I am doing an online installation as per the instructions on the page https://docs.njoy21.io/install.html
I get the following error messages after executing make

[ 90%] Building CXX object src/njoy21/Driver/test/CMakeFiles/njoy21.Driver.test.dir/Driver.test.cpp.o
c++: fatal error: Killed signal terminated program cc1plus
compilation terminated.
make[2]: *** [src/njoy21/Driver/test/CMakeFiles/njoy

[2022-06-22 10:15] partofthething opened #168 "Build fails with deprecated is_literal_type in hana dependency"
Following build instructions on Ubuntu 22.04 LTS gives:

[code]

This was deprecated in C++17 ([ref](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0174r2.html))

This comes from the [hana dependency](https://github.com/njoy/hana-adapter)

[2022-06-22 10:51] partofthething opened #169 "Build fails with `error: size of array ‘altStackMem’ is not an integral constant-expression`"
In building on Ubuntu 22.04, we get an error from the `catch-adapter-src` dependency saying:

[code]

[2022-06-22 11:01] partofthething commented on #169
Looks like this is related mostly to this in upstream: https://github.com/catchorg/Catch2/issues/2178

[2022-06-22 14:52] whaeck commented on #167
It is unclear to me of what the actual problem here is due to the limited information available in the error message. In order to properly diagnose the issue, we need more information on the system you are using, the version of cmake and which C++ and fortran compiler you are using.

That said, at the moment NJOY21 does not offer any extra features compared to NJOY2016, which is used under the hoo

[2022-06-24 04:36] KDeo22 commented on #167
Thanks a lot for the quick reply.  I was able to install NJOY2016 successfully and is working fine

[2022-07-05 17:54] whaeck commented on #168
Quick question: which compiler are you using? I have never seen this error pop up before on any of the ones I test on from time to time.

[2022-07-05 18:49] whaeck commented on #168
A repeat of what I put on the hana-adapter PR to make sure this information also appears here.

I forgot to mention this: deprecation warnings get turned into errors due to the -Werror flag while compiling. You can actually switch that off in the NJOY21 CMakeLists.txt file. Removing the -Werror will revert to warnings again, and allow for compilation to continue. Either way, I'm testing ENDFtk rig

[2022-08-09 01:27] Mahdi-20 opened #170 "Comparing two TSL"
Dear experts,
I have two TSL data for H in CH2 (polyethylene) in both ENDF and ACE format.
One of them is generated at 87 K (based on JEF-3) and another one at 77 K (based on ENDF/B-VIII.0) using NJOY99 and NJOY2012, respectively.
When I use these TSL data in PHITS code, the cold neutron flux (E=5 meV) from 87 K is higher than that of 77 K, which is against what I expected.
For such reason, I woul

[2022-08-09 14:49] whaeck commented on #170
You run the thermal scattering ACE files through a second ACER run (look in the manual for the iopt = 7 option). That second ACER run will produce input for viewr to plot the cross section data and the average cosine as a function of incident energy. The following is an input that you can use for that (in this input I suppose that tape30 is the thermal scattering ACE file, tape56 will be a postscr

[2022-08-12 12:00] negatron1 opened #171 "LEAPR S(alpha,beta) and rho phonon frequency spectrum"
Hi everyone, hope everything is going well.
I am new to NJOY environment but ı made a bit of progress by using njoy16 and end102 documents. I encountered something that caused confusion to me while producing s(a,b) for thermal scattering.

Firstly;
To produce mf7 data for THERMR module, where can ı find alpha, beta and, rho phonon frequency spectrum values which are used by LEAPR to produce s(a,b)

[2022-08-14 08:28] Mahdi-20 commented on #170
Thank you @whaeck for your comments.
I used ENDFtk to extract the S(a,b,T) from ENDF formatted data.
Just need to confirm if I have understood the ENDFtk procedure correctly, I have attached the Python code that I used to extract the S(a,b,T) with the extension changed to **txt**.
[test2.txt](https://github.com/njoy/NJOY21/files/9332922/test2.txt)

I extracted the TSL data from different libraries

[2022-08-15 15:11] whaeck commented on #171
The phonon spectrum used in the input for LEAPR can be obtained through experiments or DFT calculations, and this can actually be temperature dependent. As an example, this reference gives an overview of the evaluation process for H in H2O and a few other moderators and gives example input files for LEAPR that were used to obtain the resulting S(a,b) evaluations:

Mattes, M., Keinert, J., 2005. Th

[2022-08-16 15:06] negatron1 commented on #171
Dear whaeck, thanks a lot for your beneficial explanations and when it comes to my point of view on your replies that follows as below:
For your comment on my first question: As I understood referring to your statement,  publication you shared, and njoy16 document;

Continuous frequency spectra and tabulated values considering Leapr examples for H2O in the njoy2016 document and publication you sha

[2022-08-19 08:10] Mahdi-20 commented on #170
I found a mistake in my Python script and corrected it. It seems that ENDF/B-VIII.0 is higher than other data.

![image](https://user-images.githubusercontent.com/90252318/185574182-7172b7d9-8642-4afe-bc09-2d2034107215.png)

Bests.
Mahdi